@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
.flex-rows {
  @apply flex flex-row;
}
.flex-colo {
  @apply flex flex-col;
}
.transitions {
  @apply transition-all duration-300 ease-in-out;
}
.swiper-pagination-bullet-active {
  background-color: #ffffff !important;
}
.swiper-pagination {
  position: relative !important;
  bottom: 0 !important;
}
@layer utilities {
}
